* {
    box-sizing: border-box;
}
.container {
    width: 1050px;
    height: 100%;
    color: white;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-logo {
    display: flex;
}
.banner {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000066 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF33;
    opacity: 1;
}
.menu {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 46px;
    text-transform: uppercase;
    color: white;
    border-bottom: 3px solid #FFFFFF33;
    flex-wrap: nowrap;
}
.left-menu{
    display: flex;
    margin-left: 50px;
}
p {
    margin-left: 100px;
}
.menu p {
    margin: 0;
}
ul {
    display: flex;
    font-size: 22px;
    color: white;
    margin-right: 150px;

}
li {
    padding: 40px;
}
li:hover {
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    opacity: 1;
}
h1 {
    color: white;
    font: normal normal 900 90px/90px Nunito Sans;
    margin-bottom: 30px;
}
span {
    color: red;
}
.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}
.buttons {
    display: flex;
    margin-top: 30px;
}
button, .button {
    width: 220px;
    height: 66px;
    padding: 22px;
    margin: 25px;
    border-radius: 50px;
    font-weight: bold;
}
a {
    color: red;
    text-decoration: none;
}
.button1 {
    color: white;
    background-color: red;
}
.button1 a {
    color: white;
}
/* koniec banneru */
h3 {
    font-size: 47px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 15px;
}
h3:before {
    content: "";
    background-color: red;
    width: 70px;
    height: 5px;
    position: absolute;
    top: 20px;
    left: -80px;
}
h3:after {
    content: "";
    background-color: red;
    width: 70px;
    height: 5px;
    position: absolute;
    top: 20px;
    right: -80px;
}
article {
    text-align: center;
}
.article-photo {
    width: 350px;
    height: 250px;
}
.article-photo-img {
    width: 100%;
    height: 100%;
}
.blog-article {
    max-width: 350px;
    text-align: left;
    margin: 10px;
}
.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #6A6A6A;
}
.article-content p {
    margin: 0;
}
.blog-article button {
    width: 142px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0;
    color: white;
    background-color: red;
}

/* gotowy artykół */
h5 {
    font-size: 47px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 15px;
    color: white;
}
h5:before {
    content: "";
    background-color: red;
    width: 70px;
    height: 5px;
    position: absolute;
    top: 20px;
    left: -80px;
}
h5:after {
    content: "";
    background-color: red;
    width: 70px;
    height: 5px;
    position: absolute;
    top: 20px;
    right: -80px;
    bottom: 182px;
}
aside {
    text-align: center;
    margin-top: 60px;
    background-color: #28272C;
}
.service-img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
}
.service-image {
    width: 100%;
    height: 100%;
}
.service-article {
    max-width: 200px;
    margin: 100px 50px;
    color: white;
}
.service-article p {
    margin: 0;
    margin-top: 20px;
}
.service-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-article h4 {
    margin-top: 10px;
}
.service-article button {
    width: 142px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    background-color: red;
}
.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* gotowy service */
.contact-section {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section h5 {
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contact-image {
    width: 800px;
    height: 648px;
    margin-right: 20px;
}
.form-picture{
    width: 100%;
    height: 100%;
}
.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-contact {
    width: 50%;
    text-align: left;
}
.form-contact p{
    margin: 0;
}
form {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
}
input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #6A6A6A;
    border-radius: 5px;
}
input:focus{
    outline-color: red;
}

textarea {
    height: 100%;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #6A6A6A;
    border-radius: 5px;
}
textarea:focus {
    outline-color: red;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
    color: #6A6A6A;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 20px;
}
.checkbox span {
    height: 30px;
    flex-shrink: 0;
    flex-basis: 30px;
    border: 1px solid #6A6A6A;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 30px;
}
.checkbox input:checked + span {
    background: url(../images/IconCheck.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.send-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-button {
    border: 1px solid red;
    box-shadow: 0 2px 8px red;
    color: red;
}
.send-section .container {
    display: flex;
    justify-content: flex-end;
}
/* koniec sekcji kontakt */